# TASK 6.7 FINAL EXPLORATORY ANALYSIS

**THIS SCRIPT CONTAINS THE FOLLOWING SECTIONS**

    1. Import libraries
    
    2. Import file
    
    3. Create yes/no columns from the binary variables
    
    4. Create satisfaction profile variable
    
    5. Renaming of columns for Tableau
         
    6. Export the file

**1. Import librarires**

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

**2. Import file**

In [2]:
#define path
path = r'C:\Users\ddgal\OneDrive\Desktop\Career Foundry Tasks\Data Immersion\Achievement 6\Prepared Data'

In [3]:
df =  pd.read_csv(os.path.join(path, 'cust_churn_records_var.csv'), index_col=0)

In [4]:
#check df
df.shape

(10000, 22)

In [5]:
#display max colums
pd.set_option('display.max_columns', None)

In [6]:
#print df first 5 rows
df.head()

,Customer_id,Credit_score,Geography,Gender,Age,Tenure,Balance,Number_of_products,Has_credit_card,Is_active_member,Estimated_salary,Exited,Complain,Satisfaction_score,Card_type,Points_earned,Credit_profile,Age_profile,Balance_profile,Tenure_profile,Salary_profile,Points_profile
RowNumber,,,,,,,,,,,,,,,,,,,,,,
1,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464,Fair credit score,Middle aged,No balance,Low Tenure,Middle class,Middle points
2,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456,Fair credit score,Middle aged,Low balance,Low Tenure,Middle class,Middle points
3,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377,Poor credit score,Middle aged,High balance,High Tenure,Middle class,Low points
4,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350,Fair credit score,Young adult,No balance,Low Tenure,Middle class,Low points
5,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425,Excellent credit score,Middle aged,Medium balance,Low Tenure,Middle class,Middle points

**3. Create yes/no columns from the binary variables**

In [7]:
#create a new column that changes values of 'Has_credit_card' to Yes for 1 and No for 0
pr_cc = []
for cc in df['Has_credit_card']:
    if cc == 1:
        pr_cc.append('Yes')
    else:
        pr_cc.append('No')

#create new column 'Has credit card?' column from pr_cc
df['Does the customer have a credit card?'] = pr_cc

In [8]:
#check value counts of 'Has credit card?'
df['Does the customer have a credit card?'].value_counts(dropna=False)

Yes    7055
No     2945
Name: Does the customer have a credit card?, dtype: int64

In [9]:
#check
7055+2945

10000

In [10]:
#create a new column that changes values of Is_active_member to Yes for 1 and No for 0
pr_am = []
for am in df['Is_active_member']:
    if am == 1:
        pr_am.append('Yes')
    else:
        pr_am.append('No')

#create new column 'Is active member?' column from pr_am
df['Is the customer an active member?'] = pr_am

In [11]:
#check value counts of 'Is active member?'
df['Is the customer an active member?'].value_counts(dropna=False)

Yes    5151
No     4849
Name: Is the customer an active member?, dtype: int64

In [12]:
#check
5151+4849

10000

In [13]:
#create a new column that changes values of Exited to Yes for 1 and No for 0
pr_ex = []
for ex in df['Exited']:
    if ex == 1:
        pr_ex.append('Yes')
    else:
        pr_ex.append('No')

#create new column 'Has member exited' column from pr_ex
df['Has the customer exited?'] = pr_ex

In [14]:
#check value counts of 'Has member exited?'
df['Has the customer exited?'].value_counts(dropna=False)

No     7962
Yes    2038
Name: Has the customer exited?, dtype: int64

In [15]:
#check 
7962+2038

10000

In [16]:
#create a new column that changes values of Complain to Yes for 1 and No for 0
pr_c = []
for c in df['Complain']:
    if c == 1:
        pr_c.append('Yes')
    else:
        pr_c.append('No')

#create new column 'Has member complained' column from pr_c
df['Has the customer complained?'] = pr_c

In [17]:
#check value counts of 'Has member complained?'
df['Has the customer complained?'].value_counts(dropna=False)

No     7956
Yes    2044
Name: Has the customer complained?, dtype: int64

In [18]:
#check
7956+2044

10000

**4. Create satisfaction profile variable**

In [19]:
#create a new grouping column from 'Satisfaction_score'  
pr_sat = []
for sat in df['Satisfaction_score']:
    if sat == 1 & sat <= 2:
        pr_sat.append('Not Satisfied')
    elif sat == 3:
        pr_sat.append('Satisfied')
    else:
        pr_sat.append('Very satisfied')
        
#create new column 'Is the customer satisfied?' from pr_sat
df['Customer sentiment'] = pr_sat

In [20]:
#check value counts of 'What is the customers sentiment?'
df['Customer sentiment'].value_counts(dropna=False)

Very satisfied    6026
Satisfied         2042
Not Satisfied     1932
Name: Customer sentiment, dtype: int64

In [21]:
#check
6026 + 2042 + 1932

10000

In [22]:
#check type of created columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 27 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Customer_id                            10000 non-null  int64
 1   Credit_score                           10000 non-null  int64
 2   Geography                              10000 non-null  object
 3   Gender                                 10000 non-null  object
 4   Age                                    10000 non-null  int64
 5   Tenure                                 10000 non-null  int64
 6   Balance                                10000 non-null  float64
 7   Number_of_products                     10000 non-null  int64
 8   Has_credit_card                        10000 non-null  int64
 9   Is_active_member                       10000 non-null  int64
 10  Estimated_salary                       10000 non-null  float64
 11  Exited                                 10000 non-null  int64
 12  Complain                               10000 non-null  int64
 13  Satisfaction_score                     10000 non-null  int64
 14  Card_type                              10000 non-null  object
 15  Points_earned                          10000 non-null  int64
 16  Credit_profile                         10000 non-null  object
 17  Age_profile                            10000 non-null  object
 18  Balance_profile                        10000 non-null  object
 19  Tenure_profile                         10000 non-null  object
 20  Salary_profile                         10000 non-null  object
 21  Points_profile                         10000 non-null  object
 22  Does the customer have a credit card?  10000 non-null  object
 23  Is the customer an active member?      10000 non-null  object
 24  Has the customer exited?               10000 non-null  object
 25  Has the customer complained?           10000 non-null  object
 26  Customer sentiment                     10000 non-null  object
dtypes: float64(2), int64(11), object(14)
memory usage: 2.1+ MB

All created columns are string type variables, including the ones programmed in lesson 6.2 which is great because they are all qualitative.

**5. Renaming of columns for tableau**

In [23]:
#rename some columns for tableau
df_tab = df.rename(columns = {'Customer_id' : 'Customer Id', 'Credit_score' : 'Credit score', 
                               'Number_of_products': 'Number of products', 'Has_credit_card': 'Has credit card',
                               'Is_active_member' : 'Is active member', 'Estimated_salary' : 'Estimated salary',
                               'Satisfaction_score' : 'Satisfaction score', 'Card_type' : 'Card type',
                               'Points_earned' : 'Points earned', 'Credit_profile' : 'Credit profile',
                                'Age_profile' : 'Age profile', 'Balance_profile' : 'Balance profile', 
                                'Tenure_profile' : 'Tenure profile', 'Salary_profile' : 'Salary profile',
                                'Points_profile' : 'Points profile'})

In [24]:
#check
df_tab.columns

Index(['Customer Id', 'Credit score', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'Number of products', 'Has credit card', 'Is active member',
       'Estimated salary', 'Exited', 'Complain', 'Satisfaction score',
       'Card type', 'Points earned', 'Credit profile', 'Age profile',
       'Balance profile', 'Tenure profile', 'Salary profile', 'Points profile',
       'Does the customer have a credit card?',
       'Is the customer an active member?', 'Has the customer exited?',
       'Has the customer complained?', 'Customer sentiment'],
      dtype='object')

**6. Export file**

In [25]:
#export df_tab which has newly made variables and renaming of columns

df_tab.to_csv(os.path.join(path, 'cust_churn_records_var2.csv'))